.section__profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (min-width:1000px) {
   .section__profile {
    flex-direction: row;
    
}
}